.inputControl {
    margin-bottom: 35px;
    position: relative;
    flex-grow: 1;
  }
  
  .inputLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;
  }
  
  .inputLabel label {
    font-size: 16px;
    color: #23201e;
    margin: 0;
  }
  
  input.customInput {
    font-size: 16px;
    padding: 1.3888889vh 16px;
    font-weight: 500;
    border: 2px solid #bdbab8;
    border-radius: 2px;
    margin-bottom: 8px;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s ease;
  }
  
  input.customInput:focus {
    outline: none;
    border-color: #171717;
    background-color: #e8f0fe;
  }
  
  input.customInput.error {
    border-color: #e92121 !important;
  }

  .errorText {
    color: #e92121;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  ::-webkit-input-placeholder {
    /* Edge */
    color: #787573;
    font-weight: 400;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #787573;
    font-weight: 400;
  }
  
  ::placeholder {
    color: #787573;
    font-weight: 400;
  }
  
  .passStrength {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .passwordHint {
    font-size: 14px;
    color: #23201e;
  }
  
  .redText {
    font-size: 14px;
    color: #e92121;
  }
  
  .greenText {
    font-size: 14px;
    color: #00bb1f;
  }
  
  textarea {
    padding: 16px;
    border: 1px solid  #bdbab8;
    border-radius: 2px;
    width: 100%;
  }
  
  .passShowIcon {
    position: absolute;
    top: 50%;
    inset-inline-start: 90%;
    cursor: pointer;
  }
  
  input.password.customInput {
    padding-inline-end: 50px;
  }
  
  input.customInput::-ms-reveal,
  input.customInput::-ms-clear {
    display: none;
  }
  
  .inputFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }