.signup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup .card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    min-height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4.629629vh 0;
}
.signup .card h1 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 7.3vh;
    color: #23201e;
    margin:0 0 4.6296vh;
}
.signup .card form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signup .card form .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16.296296vh;
}

.signup .card form .name .inputControl{
    display: inline;
    height: 100%;
}

.signup .card form .name{
    gap: 10px;
}
.signup .card form .inputControl {
    margin-bottom: 5px;
    width: 100%;
}

.signup .card form .formInputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.signup .card form .passShowIcon {
    top: 45px
}